<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Usuarios</h4>
                <table class="table table-hover" *ngIf="users.length > 0">
                    <thead>
                        <tr>
                            <td>Foto</td>
                            <td>Nombre</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users" [routerLink]="['/users']" class="pointer">
                            <td class="w70">
                                <img [src]="user.img | image" class="img-50 img-circle" />
                            </td>
                            <td>
                                {{ user.name}}
                            </td>

                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-info" *ngIf="users.length === 0">
                    No hay registros
                </div>
            </div>
        </div>
    </div>
</div>